---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hamburger from "../components/Hamburger.astro";
import SmallCard from "../components/SmallCard.astro";
---

<Layout title="thibo's place">
  <main>
    <header>
      <nav>
        <Hamburger />
        <ul role="list" class="navbar-card-grid">
          <div class="nav-links">
            <Navbar href="/" title="Home" />
            <Navbar href="/projects" title="Projects" />
            <Navbar href="/contact" title="Contact" />
          </div>
        </ul>
      </nav>
    </header>
    <h1 class="left">hey i'm <span class="text-gradient">th7bo</span>!</h1>
    <h2>
      <strong><span class="dollar">$</span></strong> about me
    </h2>
    <p>
      im thibo as you might have noticed, im currently 18 years old and studying
      software development in Belgium
    </p>
    <p>
      i enjoy dipping my toes in software development, server development and
      other tech related things
    </p>

    <h2>
      <strong><span class="dollar">$</span></strong> skills
    </h2>
    <p>Programming languages:</p>
    <ul role="list" class="small-link-card-grid">
      <SmallCard
        color="rgba(231,73,105,255)"
        second_color="rgba(120,78,249,255)"
        title="Kotlin"
      />
      <SmallCard
        color="rgba(230,40,55,255)"
        second_color="white"
        title="Java"
      />
      <SmallCard
        color="rgba(240,219,78,255)"
        second_color="rgba(51,51,48,255)"
        title="JavaScript"
      />
      <SmallCard
        color="rgba(37,36,37,255)"
        second_color="rgba(254,158,4,255)"
        title="Skript"
      />
    </ul>
    <p>Tech & tools:</p>
    <ul role="list" class="small-link-card-grid">
      <SmallCard
        color="rgba(255,125,127,255)"
        second_color="rgba(127,128,255,255)"
        title="EndeavourOS"
      />
      <SmallCard
        color="rgba(222,74,55,255)"
        second_color="rgba(222,74,55,255)"
        title="Git"
      />
      <SmallCard
        color="rgba(9,156,236,255)"
        second_color="rgba(9,156,236,255)"
        title="Docker"
      />
    </ul>
    <p>Frameworks</p>
    <ul role="list" class="small-link-card-grid">
      <SmallCard
        color="rgba(223,56,113,255)"
        second_color="rgba(235,63,213,255)"
        title="Astro"
      />
    </ul>
  </main>
</Layout>
<style></style>
