---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<li class="nav-card">
  <a href={href} class="hover">
    <h2>
      {title}
    </h2>
  </a>
</li>
<style>
  .nav-card {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 1px;
    background-color: none;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    /* height: fit-content; */
  }
  .nav-card > a {
    /* width: 100%; */
    text-decoration: none;
    /* line-height: 1.4; */
    /* padding: calc(1.5rem - 1px); */
    border-radius: 8px;
    color: white;
    opacity: 0.8;
  }
  h2 {
    margin: 0;
    font-size: 1.15rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    font-weight: 600;
  }
  p {
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0; */
  }
  .hover:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-image: var(--accent-gradient-no-white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .hover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>
